.block-news,
.container-jeux {
    font-weight: 700;
    text-align: center;
    color: #fff
}

.block-news:hover:hover {
    cursor: pointer
}

.block-branche-background,
.block-news,
.container-jeux,
.container-recrutement,
.navbar-ufr-list li,
.recrutement,
.section-title,
.ufr-header {
    text-align: center
}

.block-branche-background,
.block-news,
.container-recrutement,
.img-main img,
.navbar-ufr,
.news-content img,
.ufr-carousel {
    box-shadow: 0 5px 25px 1px rgba(0, 0, 0, .7)
}

body {
    font-family: Roboto, sans-serif;
    background-color: transparent
}

html {
    background-color: #001942;
    background-image: url(../images/background2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed
}

.main-page-content {
    margin-left: 75px;
    margin-right: 75px
}

.page-element {
    margin-top: 30px;
    margin-bottom: 70px
}

.navbar-ufr {
    border: 1px solid #000;
    background-image: linear-gradient(#fdb100, #fef600)
}

@media (max-width:767px) and (min-width:450px) {
    .navbar-ufr {
        margin-left: 25%;
        margin-right: 25%
    }
}

.navbar-ufr-list {
    margin-bottom: 0;
    padding-left: 0
}

.navbar-ufr-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    color: #0b1a39;
    text-decoration: none
}

.block-branche-shadow-and-text span,
.block-news span,
.carousel-subtitle,
.carousel-title {
    display: block
}

.navbar-ufr-list li:hover {
    background-image: linear-gradient(#f9a801, #fdb100)
}

.ufr-carousel span {
    background: radial-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0))
}

@media (min-width:769px) {
    .carousel-title {
        font-size: 24px
    }
    .carousel-subtitle {
        font-size: 15px
    }
}

@media (min-width:1201px) {
    .ufr-carousel,
    .ufr-carousel img {
        width: 100%;
        height: 556px;
        max-width: 1500px
    }
    .ufr-carousel {
        margin: auto
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .ufr-carousel,
    .ufr-carousel img {
        width: 790px;
        height: 444px
    }
    .ufr-carousel {
        margin: auto
    }
}

@media (min-width:770px) and (max-width:991px) {
    .ufr-carousel,
    .ufr-carousel img {
        width: 570px;
        height: 320px
    }
    .ufr-carousel {
        margin: auto
    }
}

@media (max-width:769px) {
    .ufr-carousel {
        margin: auto;
        font-size: 9px
    }
    .ufr-carousel img {
        height: 169px
    }
    .carousel-title {
        font-size: 15px
    }
    .carousel-subtitle {
        font-size: 9px
    }
}

@media (min-width:992px) {
    .container-news span.title {
        font-size: 25px
    }
    .container-news span.date {
        font-size: 15px
    }
    .container-news span.game {
        font-size: 20px
    }
}

@media (max-width:991px) {
    .container-news span.title {
        font-size: 20px
    }
    .container-news span.date {
        font-size: 12px
    }
    .container-news span.game {
        font-size: 15px
    }
}

.container-news {
    padding-left: 0;
    padding-right: 0;
    border-top: solid #000 5px;
    border-left: solid #000 5px
}

.block-news {
    height: 150px;
    padding: 0;
    border-right: solid #000 5px;
    border-bottom: solid #000 5px;
    background: center center no-repeat;
    background-size: cover
}

.sub-block-news {
    padding-top: 30px;
    height: 150px;
    transition: background-color 1s
}

.sub-block-news:hover {
    height: 150px;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .5s
}

.sub-block-news:hover .news-title-date,
.sub-block-news:hover span {
    background: radial-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0))
}

.block-news .news-title-date {
    background: radial-gradient(rgba(50, 50, 50, 1), rgba(0, 0, 0, 0))
}

@media (min-width:992px) {
    .container-jeux span.branch-name {
        font-size: 25px
    }
    .container-jeux span.branch-status {
        font-size: 20px
    }
}

@media (max-width:991px) {
    .container-jeux span.branch-name {
        font-size: 20px
    }
    .container-jeux span.branch-status {
        font-size: 15px
    }
}

.container-jeux {
    margin: -10px;
    padding-left: 0;
    padding-right: 0
}

.game-block {
    padding: 10px;
    height: 270px;
    transition: background-color 1s
}

.block-branche-background:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .5s
}

.block-branche-background {
    background: center center no-repeat;
    background-size: cover;
    height: 250px;
    line-height: 250px
}

.block-branche-shadow-and-text {
    height: 250px;
    padding-top: 70px;
    vertical-align: middle;
    line-height: 1.2;
    text-align: center;
    transition: background-color 1s
}

.block-branche-shadow-and-text:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .5s
}

.game-block span {
    background: radial-gradient(rgba(50, 50, 50, 1), rgba(50, 50, 50, 0))
}

.game-block:hover span {
    background: radial-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0))
}

.container-recrutement {
    background: linear-gradient(#d3d3d3, #7a7a7a, #d3d3d3);
    animation: sectionani 6s linear infinite;
    background-size: 350% 350%
}

.header-text,
.section-title {
    box-shadow: 0 0 2px 2px #000;
    color: #000;
    background-size: 350% 350%!important;
    animation: sectionani 5s ease infinite;
    background: linear-gradient(0deg, rgba(254, 246, 0, 0.8), rgba(253, 177, 0, 0.8), rgba(254, 246, 0, 0.8))
}

@keyframes sectionani {
    0% {
        background-position: 51% 0
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 51% 0
    }
}

.header-text {
    border: 2px solid #000;
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
    margin-top: 40px
}

.logo-accueil {
    display: block;
    margin: auto;
    padding-top: 20px
}

@media (min-width:768px) {
    .logo-accueil {
        height: 300px
    }
}

@media (max-width:767px) {
    .logo-accueil {
        height: 150px
    }
}

.section-title {
    border: 2px solid #000;
    border-radius: 200px 200px 15px 15px;
    padding: 10px
}

.section-title h2 {
    margin-top: 10px
}

.ufr-footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.7)
}

.img-main,
.video-main {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px
}

.news-container {
    background: rgba(0, 0, 0, .5);
    margin-top: 40px;
    margin-bottom: 50px
}

.container {
    padding-left: 0;
    padding-right: 0
}

.row {
    margin-left: 0;
    margin-right: 0
}

.block-title {
    text-align: center;
    color: #fff;
    margin: 50px auto 40px
}

.img-main img {
    max-width: 70%
}

.news-content {
    padding-bottom: 10px;
    display: inline-block
}

.news-content img {
    max-width: 100%;
    max-height: 100%
}

.news-content p {
    color: #fff
}

@media(min-width:768px) {
    .news-for-xs-only {
        display: none
    }
}

@media(max-width:767px) {
    .news-for-non-xs-only {
        display: none
    }
}